<mat-list>
    <mat-list-item routerLink="/practice">項目一 Practice</mat-list-item>
    <mat-list-item routerLink="/counter">項目二 Counter</mat-list-item>
    <mat-list-item routerLink="/search">項目三 Search</mat-list-item>
    <mat-list-item routerLink="/filterDemo">項目四 Filter(pipe)</mat-list-item>
    <mat-list-item routerLink="/listDemo">項目五 List</mat-list-item>
    <mat-list-item>項目六 Component-training</mat-list-item>
    <mat-list-item routerLink="/popup">項目七 Popup Model</mat-list-item>
    <mat-list-item routerLink="/signinForm">項目八 Signin-form</mat-list-item>
    <mat-list-item routerLink="/mat-list-itemjaxDemo">項目九 Api-training</mat-list-item>
    <mat-list-item routerLink="/practice">項目十 Focus input</mat-list-item>
    <mat-list-item routerLink="/practice">項目十一 Slider</mat-list-item>
    <mat-list-item routerLink="/practice">項目十二 Counter 2</mat-list-item>
</mat-list>
